@using ArtOrder03.Core.Models.Products
@model IEnumerable<CategoryListingViewModel>

<div class="row">
    @foreach (var allcategories in Model)
    {
        <div class="card"  style="width: 18rem;">
            <img class="card-img-top" src="@allcategories.ImageUrl" alt="@allcategories.Id @allcategories.Name">
            <div class="card-body">
                <h5 class="card-title">@allcategories.Name</h5>
                <p class="card-text text-center">Original wall art designed and sold by artists and printed for you when you order.</p>
                <a asp-controller="Categories" asp-action="Details"  asp-route-id="@allcategories.Id" class="btn btn-primary">Browse</a>
            </div>
        </div>
    }
</div>

