@using ArtOrder03.Core.Models.Products
@model IEnumerable<ProductListingViewModel>

<div class="row">
    @foreach (var product in Model)
    {
        <div class="card"  style="width: 18rem;">
            <img class="card-img-top" src="@product.ImageUrl" alt="@product.Category @product.Name @product.Description @product.Price">
            <div class="card-body">
                <h5 class="card-title">@product.Name</h5>
                <p class="small text">@product.Category</p>
                <h6 class="card-text">USD @product.Price</h6><br>
                <p class="card-text">@product.Description</p>
                <a asp-controller="Products" asp-action="Details"  asp-route-id="@product.Id" class="btn btn-primary">Buy</a>
            </div>
        </div>
    }
</div>


